{% extends 'base.html' %}
{% block content %}
    <h1>Message Listing for {{ info[0].user_name }}</h1>
    <p><a href="{{url_for('index')}}">List all Users</a></p>
    <table>
    <tr>
        <th>User Name</th>
        <th>Message</th>
        <th>User</th>
        <th>Message</th>
    </tr>
    {% for msg in info[1] %}
    <tr>
        <td>{{ msg.user.user_name }}</td>
        <td>{{ msg.message }}</td>
        <td><a href="{{url_for('show', id=msg.user_id)}}">View User</a></td>
        <td><a href="{{url_for('message_show', user_id=msg.user_id, msg_id=msg.id)}}">View Message</a></td>
    </tr>
    {% endfor %}
    </table>
    <p><a href="{{url_for('message_new', user_id=info[0].id)}}">Add a message</a></p>
{% endblock %}