{% extends 'base.html' %}
{% block title %}
Users
{% endblock %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <h1>Users List</h1>
  <button><a href="{{ url_for('users.new') }}">Create New User</a></button>
  <ul>
    {% for user in users %}
      <li>{{ user.username }} <a href="{{ url_for('users.show', user_id=user.id) }}">More Info</a>
      <a href="{{ url_for('messages.index', user_id=user.id) }}">Messages</a></li>
    {% endfor %}
  </ul>


{% endblock %}