{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Selected Message</h1>
    <div class="container">
        <h3>Message: {{ msg.message }}</h3>
        <h5>Tags</h5>
        {% for tag in message.tags %}
        <p>
          {{tag.text}} | <a href="{{url_for('tags.edit', tag_id=tag.id)}}">Edit this tag!</a>
        </p>
        {% endfor %}
        
        <p>
            <a href="{{url_for('messages.new', user_id=msg.user_id)}}">Add a message</a> |
            <a href="{{url_for('messages.index', user_id=msg.user_id)}}">List this user's messages</a> 
        </p>
        <p>
            <a href="{{url_for('messages.edit', user_id=msg.user_id, msg_id=msg.id)}}">Edit this message</a> |
            <a href="{{url_for('users.index')}}">List All Users</a>
        </p>
    </div>
{% endblock %}