li {
  font-size: 25px;
}

span, p {
  font-size: 20px;
}

body::after {
  content: "";
  background: url(https://media.istockphoto.com/vectors/christmas-pattern-with-candy-canes-vector-seamless-background-vector-id529836725);
  opacity: 0.09;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}