{% extends './base.html' %}
{% block title %}
user app add new user
{% endblock %}

{% block content %}
<h1>add a new user</h1>
<form action="{{url_for('index')}}" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="username" id="username" required>
    <p></p>
    <label for="email">Email: </label>
    <input type="text" name="email" placeholder="email" id="email" required>
    <p></p>
    <label for="first_name">First name: </label>
    <input type="text" name="first_name" placeholder="first name" id="first_name" required>
    <p></p>
    <label for="last_name">Last name: </label>
    <input type="text" name="last_name" placeholder="last name" id="last_name" required>
    <p></p>
    <input class="btn btn-success" type="submit" value="add a user">
</form>
<p></p>
<p>
    <a href="{{url_for('index')}}">see all the users</a>
</p>
{% endblock %}