{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{url_for('users.login')}}">
  {{ form.csrf_token }}
  <div style="margin-top: 10px; color: red;">
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
  <p>{{ form.username(placeholder="username", class='iTxtBoxes') }}
    <span>
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.password(placeholder="password", class='iTxtBoxes') }}
    <span>
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit" class="fsSubmitButton">Log In!</button>
</form>

{% endblock %}