{% extends 'base.html' %}
{% block content %}
<h1> Edit {{message.user.first_name}}'s message</h1>
<form method="POST" action="{{url_for('messages.show', user_id = message.user.id, id = message.id)}}?_method=PATCH">
	{{form.hidden_tag()}}
	{% for field in form if field.widget.input_type != 'hidden' %}
		<div>
			{{field.label}}
			{{field}}
			{% if field.errors %}
				{% for error in field.errors %}
					{{error}}
				{% endfor %}
			{% endif %}
		</div>
	{% endfor %}	
	<input type="submit" value="Edit message">
</form>
{% endblock %}