{% extends '/base.html' %}
{% block title %}
Message: Edit
{% endblock %}
{% block content %}

  <h1>Edit Message</h1>
  <form action="{{ url_for('messages.show', user_id=user.id, message_id=message.id) }}?_method=PATCH" method="POST">
    {{ form.csrf_token }}
   <p>
    {{ form.content.label }}: 
    {{ form.content(placeholder="Message") }}
     <span>
       {% if form.content.errors %}
         {% for error in form.content.errors %}
           {{ error }}
         {% endfor %}
       {% endif %}
     </span>
   </p>

    {% if e %}
      <p>{{ e }}</p>
    {% endif %}
    <button type="submit">Edit Message</button>
  </form>
  <br>
  <a href="{{ url_for('messages.index', user_id=user.id) }}">Go Back To All Messages for {{ user.username }}</a>

{% endblock %}