{% extends 'base.html' %}
{% block content %}
	<div class="jumbotron">
	  <div class="container">
		  <div class="hero-text-box">
			  <h1 class="display-3">Super dope ass user/messages application</h1>
			  <p class="lead">CRUD like a boss! CRUD Users and CRUD Messages. What more can you crudding want?</p>
			  <p>Welcome {{current_user.username}}</p>
			  <hr class="my-4">
			  <p class="lead">
			    <a class="btn btn-primary btn-lg" href="{{url_for('users.new')}}" role="button">Add a new user!</a>
			  </p>
		  </div>
	  </div>
	</div>
	
	<div class='container'>
		<h1>See All Our Users</h1>
		<div class="row text-center">
			{% for user in users %}
				<div class= 'col-md-4 col-sm-6'>
					<div class="card">
						<img class= 'card-img-top' src="{{user.profile_link}}" alt="Profile Link">
						<div class='card-block'>
							<h4 class='card-title'>{{user.first_name}} {{user.last_name}}</h4>
							<a href="{{url_for('messages.index', user_id=user.id)}}">See messages</a> |
							<a href="{{url_for('users.edit', id=user.id)}}">Edit user</a>
							<div class='row justify-content-center'>
								<form method = "POST" action="{{url_for('users.show', id=user.id)}}?_method=DELETE">
									{{delete_form.hidden_tag()}}
									<button class='btn btn-danger' type="submit">Delete User</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}


