<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users CRUD App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">      <!-- Optional theme -->     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container">


  <a href="{{url_for('index')}}">Home</a>
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {% for message in messages %}

        <p>{{ message }}</p>

      {% endfor %}
    {% endif %}
  {% endwith %}


      blockofcode
  {% endif %}

  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
