{% extends 'base.html' %}
{% block content %}
  <span class="spanFormat">
    <form action="{{ url_for('show', id=snack.id) }}?_method=PATCH" method="POST">
        <label for="name" class="iLabels">Name: </label>
        <input type="text" name="name" value="{{ snack.name }}" class="iTxtBoxes" required>
        <label for="kind" class="iLabels">Kind: </label>
        <input type="text" name="kind" value="{{ snack.kind }}" class="iTxtBoxes" required>
        <label for="price" class="iLabels">Price: </label>
        <input type="number" min="1" step="any" name="price" value="{{ snack.price }}" class="iTxtBoxes" required>
        <input type="submit" value="Update" class="fsSubmitButton">
    </form>
  </span>
  <span class="spanFormat">
    <form class="frm2" action="{{ url_for('show', id=snack.id) }}?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="fsSubmitButton">
    </form>
  </span>
{% endblock %}