{% extends 'base.html' %}

{% block content %}
    <form action="{{url_for('show', id=snack.id)}}?_method=PATCH" method="POST">
        <input type="text" name="name" value="{{snack.name}}">
        <input type="text" name="kind" value="{{snack.kind}}">
        <input type="text" name="tasty" value="{{snack.tasty}}">
        <input type="submit" value="Add a snack">
    </form>

    <form action="{{url_for('show', id=snack.id)}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
{% endblock %}
