body {
	background-color: lightblue;
	width: 100%;
}

body div {
	width: 80vw;
	margin: 0 auto;
}

ul,
h2,
form,
.content {
	border: solid black 2px;
	padding: 2vmax;
	background-color: #bff4fc;
	margin: 0 auto;
	box-sizing: border-box;
}

.delete {
	border: none;
	padding: 0;
}

h1 {
	border: none;
	margin-bottom: 5px;
	background-color: lightblue;
	text-align: center;
}

h2 {
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	border-bottom: none;
	text-align: center;
}

li,
form {
	text-align: left;
	cursor: pointer;
	list-style-position: inside;
}

a {
	padding: 0 2px;
}

li a img {
	width: 5%;
}

/*trying to set it up so each main component of the content class occupies 50% space */
.content > p,
.content > img {
	box-sizing: border-box;
	width: 49%;
}
/*trying to cause image to move to right of the p content area */
.content > p {
	display: inline-block;
}

.content > img {
	vertical-align: middle;
	max-height: 20vh;
	width: auto;
	height: auto;
}

