{% extends 'base.html' %}
{% block content %}
<form action="{{url_for('users.update', id=user.id)}}?_method=PATCH" method="POST">
    {{ edit_form.hidden_tag() }}
  {% for field in edit_form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}
    <span>
      {% if field.errors %}
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  {% endfor %}

  <div id = "submit-post-button-div" >
   <button class="btn" type="submit">EDIT</button>
 </div>
</form>

<form action="{{url_for('users.update', id=user.id)}}?_method=DELETE" method="POST">
   <button class="btn" type="submit">DELETE</button>
  </form>
{% endblock %}