{% extends 'base.html' %}
{% block content %}

<h3>My Favorite Snacks</h3>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Type</th>
		<!-- <th>Deliciousness (out of 5)</th> -->
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	{% for snack in snacks %}
	<tr>
		<td>{{snack[0]}}</td>
		<td>{{snack[1]}}</td>
		<td>{{snack[2]}}</td>
		<!-- <td>{{snack.deliciousness}}</td> -->
		<td><a href="{{url_for('show', id=snack[0])}}">Edit</a></td>
		<td><form action="{{url_for('show', id=snack[0])}}?_method=DELETE" method="POST"><input type="submit" value="Delete"></form></td>
	</tr>
	{% endfor %}
</table>

<a href="{{url_for('add')}}">Add a new snack</a>

{% endblock %}