{% extends 'base.html' %}
{% block content %}
  <form method ="POST" action="{{ url_for('departments.show', id=id)}}?_method=PATCH">
    {{ form.csrf_token }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}
      <span>
        {% if field.errors %}
          {% for error in field.errors %}
            error
          {% endfor %}
        {% endif %}
      </span>
    </p>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
  <br>
  <form method="POST" action="{{ url_for('departments.show', id=id)}}?_method=DELETE">
    <!-- since this is not a WTForm we have to create our own csrf token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit">DELETE DEPARTMENT</button>
  </form>
{% endblock %}