{% extends 'base.html' %}
{% block content %}
  <div>
  <form class="edit_forms" action="{{ url_for('show', id=author.id) }}?_method=PATCH" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
      {{ field.label(class='iLabels') }}
      {{ field(class='iTxtBoxes') }}
      <span style="display: block">
        {% if field.errors %}
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    {% endfor %}
    <input type="submit" value="Update" class="fsSubmitButton">
  </form>
    <form style="margin-left: 10px;" class="edit_forms" action="{{ url_for('show', id=author.id) }}?_method=DELETE" method="POST">
      {{form.hidden_tag()}}
      <input type="submit" value="Delete" class="fsSubmitButton">
  </form>
  </div>
{% endblock %}