{% extends 'base.html' %}
{% block content %}
    <form action="{{url_for('show', id=one_snack["id"])}}?_method=PATCH" method="POST">
        <input type="text" name="name" value="{{one_snack["name"]}}">
        <input type="text" name="kind" value="{{one_snack["kind"]}}">
        <input type="submit" value="Edit this snack">
    </form>
    <br>
    <form action="{{url_for('show', id=one_snack["id"])}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete snack">
    </form>
{% endblock %}